<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crypto Analyzer info</title>
</head>
<body>
<pre>Jestem programistą z 5-letnim doświadczeniem, a na rynku crypto od roku.

Robię serwis który ma pomagać w zbieraniu/analizie danych giełdowych - crypto, ew. też akcje.

Wyjściowo plan to analiza techniczna + rozbudowane backtesty, możliwe też jakieś pobieranie i prezentowanie (+alerty) innych danych (typu jakieś ruchy whale, trendy w social mediach itp. - w zależności co wymyślimy i sprawnie się zaimplementuje).
Jeśli backtesty będą wyglądać obiecująco, to potencjalnie można spróbować z tego bota zrobić. Ale to nie jest cel nadrzędny póki co.

Na teraz mam ogarnięty dostęp do danych z Binance (Kucoin chyba jest bardzo podobny do ewentualnego dorzucenia), oraz integrację wykresów od Tradingview (trzeba z nimi umowę w tym celu podpisać). Z prostych "bonusów" versus bezpłatne Tradingview - VPVR można odpalić :).

Szukam kilku ludzi z którymi bym regularnie (rzędu 1h/tydzień) wymieniał pomysły do wdrożenia. Najlepiej traderów (tj. ludzi z jakimkolwiek doświadczeniem, żeby wsparli w TA w szczególności), którym właśnie brakuje takiego "elementu puzzla" - mają pomysły, a chcieliby numeryczne testowanie takich idei.

Projekt jest wyjściowo hobbystyczny, jeśli się uda jakąś wartość wytworzyć (mającą szansę się przełożyć na zarobku na rynku) to można pomyśleć co dalej - ale to mgliste idee.

Na razie nie mam wiele do pokazania (plus - aktualnie dane nie są aktualizowane od paru tygodni), jak też docelowy adres jest inny (nie chcę "prawdziwego" pokazywac, żeby mi serwer od niespodziewanego ruchu nie wybuchł :P).
Ale wrzucam 2 linki: http://crypto23.duckdns.org:5001/exchange_binance tu są wszystkie tickery z Binance
http://crypto23.duckdns.org:5001/tv_chart/BTCUSDT i przykładowy wykres - aktualnie tylko dzienny, jak mówiłem - jest VPVR i niewiele więcej. W zamyśle - można spróbować automatycznie rysować wsparcia i opory (jak i np. FIBO itp.), jeśli opracuję algorytmy ich detekcji.

Jeśli ktoś ma czas i ochotę się w to wciągnąć, to proszę o DM na Telegramie, @jmks87</pre>
</body>
</html>